@model IEnumerable<NettBank.Models.LoanCompanyViewModel>
@using System.Globalization;
@{
    ViewBag.Title = "SearchLoans";
}

<section class="Search-result">
    <div class="container">
        <div class="form-refine-holder mt-6">
            hello!!!!
        </div>

        <div class="loan-result-holder mt-10">
           @Html.Partial("_LoanFormPartial", Model)
        </div>
    </div>
</section>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComparisonRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepaymentFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Catch)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComparisonRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepaymentFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catch)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
@section scripts{
    <script type="text/javascript">
       $(document).ready(function () {
           $('.rating').each(function () {
               var thz = $(this);
               const starTotal = 5;
               let average = thz.text();

                const starPercentage = (average / starTotal) * 100;
                const starPercentageRounded = `${((starPercentage / 10) * 10)}%`;
                thz.html(`<div class="stars-outer">
                            <div class="stars-inner" style="width:${starPercentageRounded}"></div>
                          </div>`);
           });
       })
    </script>
}