<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NettBank</title>
    <link href="https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/site.css")
</head>
<body>
    <section class="Navigation">
        <nav class="Navigation-bar h-20">
            <div class="container">
                <div class="brand-container">
                    @Html.ActionLink("NettBank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </nav>
    </section>
    @*<div class="h-20">
        <div class="container">
            <div class="navigation flex justify-between items-center h-20">
                <div class="brand">
                    @Html.ActionLink("NettBank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <div class="Navbar-menu flex justify-between w-1/3 items-center">
                    <div>@Html.ActionLink("Home", "Index", "Home")</div>
                    <div>@Html.ActionLink("About", "About", "Home")</div>
                    <div>@Html.ActionLink("Contact", "Contact", "Home")</div>
                </div>

                <div class="auth-buttons">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
        @*<div class="container">
                <div> hello </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("NettBank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>*@
    <div class="containers">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - NettBank</p>
            </footer>*@
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/site.js"></script>
    <script src="https://kit.fontawesome.com/3084c95dcf.js" crossorigin="anonymous"></script>
</body>
</html>
