@model IEnumerable<NettBank.Models.LoanCompanyViewModel>
@using System.Globalization;

@if (!Model.Any())
{
    <div class="empty-result">
        <div class="empty-image-holder flex justify-center items-center">
            <img src="~/Content/Images/no_result.svg" class="empty-image" />
        </div>
        <div class="empty-text-heading mt-3 text-center tracking-tight leading-10 font-semibold text-gray-700  sm:leading-none md:text-5xl">
            No Result found
        </div>
        <p class="mt-1 text-sm leading-5 text-center text-gray-500">Please refine your search and try again!</p>
    </div>
}
else
{

    <h2 class="lg:text-3xl text-2xl leading-9 font-extrabold text-gray-700">
        Compare @(ViewBag.loanTitle + "s") from @ViewBag.Money.ToString("C", CultureInfo.CreateSpecificCulture("ig-NG"))
    </h2>


    <table class="rwd-table mt-6">
        <tr class="lg:h-20 bg-gray-300 p-2 table-head">
            <th>Company</th>
            <th>Interest Rate</th>
            <th>Commison Rate</th>
            <th>Monthly Payment</th>
            <th>Loan Term</th>
            <th>Ratings</th>
            <th>Link</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="h-24">
                <td data-th="Company" class="company">
                    <div class="flex-holder font-semibold">
                        <div class="result-name md:mb-2 sm:mr-2 ">@Html.DisplayFor(modelItem => item.Name)</div>
                        <img src="~/Content/Images/Companies/@(item.ImagePath.Replace(" ", ""))" class="loan-form-image" />
                    </div>
                </td>
                <td data-th="Interest Rate">@Html.DisplayFor(modelItem => item.InterestRate)%</td>
                <td data-th="Commison Rate">@Html.DisplayFor(modelItem => item.ComparisonRate)%</td>
                <td data-th="Monthly Payment" class="company">
                    <div class="flex-holder flex-holder-payment">
                        <div class="result-name md:mb-2 sm:mr-2 text-lg">@item.MonthlyRepayment.ToString("C", CultureInfo.CreateSpecificCulture("ig-NG"))</div>
                        <div class="text-sm text-center">(@(ViewBag.duration * 12) Months)</div>
                    </div>
                </td>
                <td data-th="Loan Term">@Html.DisplayFor(modelItem => item.MaxDuration) yrs</td>
                <td data-th="Ratings">
                    <div class="rating inline-block">
                        @item.Rating
                    </div>
                </td>
                <td data-th="Link" class="Link">
                    <div class="flex-holder">
                        <div class="btn more-info btn-search md:mb-2 sm:mr-2">More Info</div>
                        <div class="btn enquire btn-search">Enquire Now</div>
                    </div>
                </td>
            </tr>
        }
    </table>
}