@model NettBank.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<section class="register">
    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full">
            <div>
                <img class="mx-auto h-12 w-auto" src="~/Content/Images/logo.svg" alt="NettBank" />
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                    Register a new account
                </h2>
                <p class="mt-2 text-center text-sm leading-5 text-gray-600 max-w">
                    Or
                    <span class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                        @Html.ActionLink("Sign in as an existing user", "login", new { ReturnUrl = ViewBag.ReturnUrl})
                    </span>
                </p>
            </div>

            @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="flex flex-wrap -mx-3 mb-6 mt-12">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        @Html.LabelFor(m => m.FirstName, new { @class = "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" })

                        @Html.TextBoxFor(m => m.FirstName, new
                   {
                       @class = "appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white",
                       placeholder = "Victor"
                   })

                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-red-500 text-xs italic" })
                    </div>


                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        @Html.LabelFor(m => m.LastName, new { @class = "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" })

                        @Html.TextBoxFor(m => m.LastName, new
                   {
                       @class = "appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white",
                       placeholder = "Doe"
                   })

                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-red-500 text-xs italic" })
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        @Html.LabelFor(m => m.Email, new { @class = "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" })
                        @Html.TextBoxFor(m => m.Email, new
                   {
                       @class = "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
                       placeholder = "example@email.com"
                   })

                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-red-500 text-xs italic" })
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        @Html.LabelFor(m => m.Username, new { @class = "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" })
                        @Html.TextBoxFor(m => m.Username, new
                   {
                       @class = "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
                       placeholder = "username"
                   })

                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-red-500 text-xs italic" })
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        @Html.LabelFor(m => m.Password, new { @class = "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" })

                        @Html.PasswordFor(m => m.Password, new
                           {
                               @class = "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
                                placeholder = "******************"
                           })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-red-500 text-xs italic" })
                        <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" })

                        @Html.PasswordFor(m => m.ConfirmPassword, new
                           {
                               @class = "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
                                placeholder = "******************"
                           })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-red-500 text-xs italic" })
                    </div>
                </div>

                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                    <span class="absolute left-0 inset-y pl-3">
                        <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                        </svg>
                    </span>
                    Register
                </button>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
