@model NettBank.Models.OptionCompanyViewModel

@{
    ViewBag.Title = "Home";
}

<section class="Hero">
    <div class="container">
        <div class="Hero-text-holder pt-10 text-center text-white font-medium">
            <h1 class="hero-text-heading">Search and Compare Loans with Confidence</h1>
            <p class="hero-text-sub mb-12">Compare interest rates, fees, features and more from the widest range of financial institutions.</p>
        </div>

        <div class="hero-card-container flex justify-evenly">
            @foreach (var item in Model.LoanOptions)
            {
                //<a href="/Loans/@(item.Name.Replace(" ", ""))">
                <a href="javascript:void(0);" class="show" aria-haspopup="true" data-id="@item.Id">
                    <div class="hero-card shadow-md">
                        <div class="hero-icon">
                            <img src="~/Content/Images/@item.icon" class="hero-icon-image" />
                        </div>
                        <div class="hero-card-text mt-4">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </div>
                </a>


            }
        </div>

        <div class="mask" role="dialog">
        </div>

        <div class="hero-end">
            <div class="or">Or</div>
            <div class="hero-end-text">
                @Html.ActionLink("let our AI find you a perfect loan", "Index", "Loans")
                <span class="mx-4"> <img src="~/Content/Images/up-arrow.svg" class="up-arrow" /></span>
            </div>
        </div>
    </div>
</section>
<section class="Popular-lenders">
    <div class="container">
        @Html.Partial("_Lenders")
    </div>
</section>

<section class="features mt-20">
    <div class="container">
        <div class="py-12 bg-white">
            <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="lg:text-center">
                    <p class="text-base leading-6 highlight font-semibold tracking-wide uppercase">Getting Loans</p>
                    <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                        A better way to compare <span class="highlight font-bold">Loans</span>
                    </h3>
                    <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
                        Finance can be complicated, but NettBank Ltd is committed in helping you make sense of banking, interest rates, home loans, superannuation, and more.
                    </p>
                </div>

                <div class="mt-10">
                    <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
                        <li>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center h-12 w-12 rounded-md bg-highlight text-white">
                                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h5 class="text-lg leading-6 font-medium text-gray-900">Hundreds of Financial Institutions</h5>
                                    <p class="mt-2 text-base leading-6 text-gray-500">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="mt-10 md:mt-0">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center h-12 w-12 rounded-md bg-highlight text-white">
                                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h5 class="text-lg leading-6 font-medium text-gray-900">No hidden fees</h5>
                                    <p class="mt-2 text-base leading-6 text-gray-500">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="mt-10 md:mt-0">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center h-12 w-12 rounded-md bg-highlight text-white">
                                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h5 class="text-lg leading-6 font-medium text-gray-900">Loans are instant</h5>
                                    <p class="mt-2 text-base leading-6 text-gray-500">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="mt-10 md:mt-0">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center h-12 w-12 rounded-md bg-highlight text-white">
                                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h5 class="text-lg leading-6 font-medium text-gray-900">Feedback and Assistance</h5>
                                    <p class="mt-2 text-base leading-6 text-gray-500">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="top-loans">
    <div class="container">

        <h2 class="top-loans-heading mt-24 text-3xl text-gray-900 font-bold uppercase">
            Best Interest Rate
            <span><img src="~/Content/Images/award.svg" class="top-loans-icon" /></span>
        </h2>

        @{ string anonymousString = "*********";}

        <div class="top-loan-items mt-6">
            @foreach (var company in Model.LoanCompanies)
            {
                <div class="top-loan-card">
                    <div class="top-loan-card-heading text-gray-700">
                        <div class="rating-holder flex justify-between items-center">
                            <div class="rating">
                                @company.Rating
                            </div>
                            <div class="rating-text text-right">@company.Rating ratings</div>
                        </div>

                        <p>
                            @if (!Request.IsAuthenticated)
                            {
                                @anonymousString;
                            }
                            else
                            {
                                @company.Name
                            }
                            @if (company.Catch != null)
                            {
                                <span>(@company.Catch)</span>
                            }
                        </p>

                    </div>

                    <div class="top-loan-interest">
                        <div class="rate">
                            <div class="top-loan-interest-heading">Interest rate</div>
                            <div class="interest-rate">
                                @company.InterestRate%
                            </div>
                            <p class="top-loan-interest-heading text-gray-900">Variable</p>
                        </div>
                        <div class="commision">
                            <div class="top-loan-interest-heading">Commision Rate</div>
                            <div class="interest-rate">
                                @company.ComparisonRate%
                            </div>
                        </div>
                    </div>

                    <div class="loan-type-holder mt-6">
                        @foreach (var loan in company.LoanTypes)
                        {
                            <div class="loan-icon-text flex">
                                <img src="~/Content/Images/check.svg" class="check-icon" />
                                <div class="loan-type">@loan.Name</div>
                            </div>
                        }

                        <div class="loan-icon-text flex">
                            <img src="~/Content/Images/check.svg" class="check-icon" />
                            <div class="loan-type">Extra repayments + redraw services</div>
                        </div>

                    </div>

                    <div class="button-holder flex justify-between mt-8">
                        <div class="btn more-info">More Info</div>
                        <div class="btn enquire">Enquire Now</div>
                    </div>

                    <div class="top-loan-card-image-holder">
                        @if (!Request.IsAuthenticated)
                        {
                            @anonymousString
                        }
                        else
                        {
                            <img src="~/Content/Images/Companies/@company.ImagePath" class="top-loan-card-image" />
                        }
                    </div>

                </div>

            }

        </div>
        @if (!Request.IsAuthenticated)
        {
    <p class="text-center mt-4"><span class="text-indigo-600 font-semibold">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </span> to Reveal Loan companies</p>
        }
    </div>
</section>

<section class="testimonial mt-20">
    <div class="container">
        <div class="testimonial-heading py-12 highlight">
            Why search and Compare on NettBank ?
        </div>
        <div class="testimonial-body flex">
            <div class="testimonial-image-holder">
                <img src="~/Content/Images/testimonial.jpg" class="testimonial-image" />
            </div>

            <div class="testimonial-cards">
                <div class="testimonial-card shadow-md">
                    <div class="testimonial-icon-holder">
                        <img src="~/Content/Images/ratings.png" class="testimonial-icon" />
                    </div>
                    <div class="subheading my-4 text-gray-900">
                        Real Time Rating™
                    </div>
                    <div class="testimonial-card-body">
                        First and only live home loan rating system, ranking options in real-time from your requirements.
                    </div>
                </div>
                <div class="testimonial-card shadow-md">
                    <div class="testimonial-icon-holder">
                        <img src="~/Content/Images/search.svg" class="testimonial-icon" />
                    </div>
                    <div class="subheading my-4 text-gray-900">
                        Smart search
                    </div>
                    <div class="testimonial-card-body">
                        Find your best options with a credit card wizard designed to help and assist.
                    </div>
                </div>
                <div class="testimonial-card shadow-md">
                    <div class="testimonial-icon-holder">
                        <img src="~/Content/Images/personlised.svg" class="testimonial-icon" />
                    </div>
                    <div class="subheading my-4 text-gray-900">
                        Personalised rates
                    </div>
                    <div class="testimonial-card-body">
                        Discover your personal loan rates and chances of approval before you apply.
                    </div>
                </div>
            </div>

        </div>
        <div class="testimonial-text">
            "We'll help you make good financial decisions."

            <p class="name">- Sally Tindall</p>
        </div>
    </div>
</section>


@section scripts{
   <script type="text/javascript">
       $(document).ready(function () {
           $('.rating').each(function () {
               var thz = $(this);
               const starTotal = 5;
               let average = thz.text();
  
                const starPercentage = (average / starTotal) * 100;
                const starPercentageRounded = `${((starPercentage / 10) * 10)}%`;
                thz.html(`<div class="stars-outer">
                            <div class="stars-inner" style="width:${starPercentageRounded}"></div>
                          </div>`);
           });
       })
    </script>
}
